parameters:
  paths:
    - config
    - src

  level: 0

  ignoreErrors:
    - "#Unsafe usage of new static\\(\\)#"
    - "#Class Heritage\\\\Foundation\\\\Application not found.#"
    - "#Class Ugarit\\\\Lumen\\\\Application not found.#"
